<div class="container">

  <div class="ui card">
    <h1>Komandų generatorius</h1>
    <ul class="list">
      <li *ngFor="let narys of nariai">{{narys}}</li>
    </ul>

    <div class="add-members-container">
      <input type="text" name="" placeholder="Vardas" (input)="onInput(pridetiZmogu.value)" #pridetiZmogu
        [value]="naujasNarys">
      <button (click)="pridetiNari(naujasNarys)">Prideti</button>
    </div>

    <div class="input-container">
      <input type="text" name="" placeholder="komandu sk." (input)="onKomanduSkaiciusInput(komanduSkaiciusInput.value)"
        #komanduSkaiciusInput [value]="komanduSkaicius">
      <button (click)="generuotiKomandas()">Sukurti</button>
    </div>
    <p *ngIf="klaidosPranesimas" class="error-msg">{{klaidosPranesimas}}</p>
  </div>

  <div *ngIf="komandos.length" class="teams-container">
    <div *ngFor="let komanda of komandos; let i = index" class="team-container">
      <h3>Komanda {{i+1}}</h3>
      <ul>
        <li *ngFor="let narys of komanda">{{narys}}</li>
      </ul>
    </div>

  </div>

</div>

